---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Astro</title>
    <!-- <link rel="stylesheet" href="/global.css" /> -->
  </head>
  <body class="bg-slate-800 text-gray-300">
    <div class="bg-purple-800 text-white">
      <nav class="container mx-auto px-4 py-4 space-x-6">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/posts">Posts</a>
      </nav>
    </div>
    <main class="container mx-auto px-4 py-6">
      <slot />
    </main>
  </body>
</html>
